<div class="container">
  <div class="smpad">

    <% if @country == nil %>

    <div class="d-flex justify-content-center h-100">
      <h3 class="destination-pad">Explore Destinations</h3>
    </div>

    <div class="d-flex justify-content-center h-100">
      <%= form_tag destinations_path, method: "get" do %>
        <h6>Select Country:</h6>
    </div>
    <div class="d-flex justify-content-center h-100">
          <%= collection_select :destination, :country_id, Country.all, :id, :name %>
    </div>
    <div class="d-flex justify-content-center h-100 medpad">
        <%= submit_tag("Search", class: "btn btn-custom btn-sm", id: "btnpad") %>
      <% end %>
    </div>

    <% else %>

    <div class="d-flex justify-content-center h-100">
      <h3 class="destination-pad">Explore Destinations in <%= @country.name %></h3>
    </div>

      <div class="d-flex justify-content-center h-100">
      <%= form_tag destination_path(:id), method: "get" do %>

        <h6 class="smpad">Select City: &nbsp&nbsp
          <%= collection_select :destination, :id, @destinations, :id, :city_state %></h6>
        <h6 class="smpad">Select Things to See: &nbsp&nbsp
          <%= collection_select :activity, :type, @country.activity_choices, :to_s, :to_s %></h6>
      </div>

      <div class="d-flex justify-content-center h-100 medpad">
        <%= submit_tag("Explore", class: "btn btn-custom btn-sm", id: "btnpad")%>
      </div>
        <% end %>

    <% end %>
    </div>

  </div>
</div>
