<div class="container">

  <div class="d-flex justify-content-center h-100 headpad">
    <h1><%= @search.titlecase %> in <%= @trip.to_s %></h1>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <% @activities.each do |activity| %>
        <% if activity.photo_url != "Photo Unavailable" %>
          <p><img height="80" width="120" src="<%= activity.photo_url %>"> &nbsp&nbsp
          <%= link_to activity.name, activity_path(id: activity.id, trip_id: @trip.id, date: @date, search: @search)%> | Rating: <%= activity.rating %></p>

        <% else %>
        <p><%= link_to activity.name, activity_path(id: activity.id, trip_id: @trip.id, date: @date, search: @search)%> | Rating: <%= activity.rating %></p>
        <% end %>
      <% end %>
    </div>

    <div class="col-sm-5 float-right">
      <iframe width="600" height="450" frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/search?q=<%= @search%>%20<%=@trip.to_api %>&key=AIzaSyBcF7WmTnqaJVXqW1u4Z2rhHEjOeiaNRtg" allowfullscreen></iframe>
      <ul>
    </div>
  </div>

  <div class="d-flex justify-content-center h-100 bottom-pad">
    <%= button_to "Back to trip", @trip, method: :get, class: "btn btn-custom btn-sm smpad", id: "btnpad" %>
  </div>
</div>
